.page-link{
    border: none !important;
    color:#444444;
    background:#f8f8f8  ;
    padding:1rem;
}
.active>.page-link{
    background-color: #444444;
}
.page-link:hover{
    background: #444444;
    color:#f8f8f8;
}
.pagination-div{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}