.parallax-cont{
    transform: translate3d(0px, -51px, 0px);
    width: 100%; 
    height: 90vh; 
}

.img-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    width: 100%;
}

