.navbar{
    background: #fff;

}
.brand{
    font-size: 1.5rem;
    letter-spacing: .2ch;
    font-weight: bold;
    color:#444444;
}
.list-item{
    padding: 0 1rem;
    letter-spacing: .5ch;
    color: #44444481;
    font-size: .8rem;
}
.bg-col{
    background-color: #f8f8f8;
    padding: 2rem 0;
}


@media(max-width:991px){
    .navbar{
        background-color: #444444;
    }
    .brand{
        color:#fff;
    }
    .list-item{
        color: #fff;
    }
}
